@model Models.Course
<link href="~/Content/tagsinput.css" rel="stylesheet" />
<h1 class="text-center">Course Add</h1>
<div style="padding:0% 20% 0% 20% ">
    <form method="post" id="CourseAddPage" enctype="multipart/form-data">
        <br />

        <div class="form-group row">
            <label for="Name" class="col-md-2">Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="Code" class="col-md-2">Code</label>
            <div class="col-md-10">
                @Html.TextBoxFor(c => c.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label for="Duration" class="col-md-2">Course Duration(hrs)</label>
            <div class="col-md-10">
                @Html.TextBoxFor(c => c.Duration, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Duration, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="Credit" class="col-md-2">Credit</label>
            <div class="col-md-10">
                @Html.TextBoxFor(c => c.Credit, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Credit, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label for="Outline" class="col-md-2">Outline</label>
            <div class="col-md-10">
                @Html.TextAreaFor(c => c.Outline, new { @class = "form-control"})
                

            </div>
        </div>
        
        <div class="form-group row">
            <label for="Tags" class="col-md-2">Tags</label>
            <div class="col-md-10">
                <input type="text" data-role="tagsinput" class="form-control bootstrap-tagsinput" id="usr">
                @*@Html.TextBoxFor(c=>c.Tags, new {@data_role = "tagsinput",@class = " bootstrap-tagsinput",id="inputtags" })*@

            </div>
        </div>


        <br />
        <div class="form-group text-right ">
            <button type="submit" class="btn btn-success col-2">Submit</button>
        </div>

    </form>
</div>

<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>
<script src="~/Scripts/tagsinput.js"></script>