@using Models
@model Models.Organization
<h1 class="text-center">Organiztion Information</h1>
<div class="card col-md-10" style="margin: 0 auto; width: auto">
    <div class="row">
        
        <div class="col">
            @{
                var base64 = Convert.ToBase64String(Model.Logo);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgsrc" style="max-width: 200px; max-height: 200px"/>
        </div>

        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayTextFor(c => c.Name)</h5>
                <p class="card-text">@Html.DisplayTextFor(c => c.About)</p>
            </div>
        </div>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Organization Code : @Html.DisplayTextFor(c => c.Code)</li>
        <li class="list-group-item">Contact No : @Html.DisplayTextFor(c => c.ContactNo)</li>
        <li class="list-group-item">Address : @Html.DisplayTextFor(c => c.Address)</li>
    </ul>
    <div class="card-body text-right"> 
        @*<a href="#" id="LoadOrganizationCoursePage" class="card-link text-primary">Add Course</a>*@
        <a class="btn OrganizationCourseAddLink text-primary" data-url="@Url.Action("LoadOrganizationCourseAddPage", "Organization", new { id = Model.Id})">Add Course</a>
    </div>
</div>

@*<script type="text/javascript">
    //Organization and Course Add 
    $("#LoadOrganizationCoursePage").click(function () {

        $.ajax({
            type: "GET",
            url: "../../Organization/OrganizationCourseAdd",
            contentType: "application/JSON; charset=utf-8",
            data: JSON.stringify(),
            success: function (rData) {

                $("#PartialDiv").html(rData);
            }

        });
    });
</script>*@

<script type="text/javascript">
    //Organization Details 
    $(".OrganizationCourseAddLink").click(function() {
        var url = $(this).attr("data-url");
        $.post(url,
            function(rData) {
                $("#PartialDiv").html(rData);
            });

    });
</script>